<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ai吟美管理后台">
    <meta name="author" content="程序猿的退休生活">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>
    <link href='css/extend.css' rel='stylesheet'>
    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <!--jbox-->
    <link id="skin" rel="stylesheet" href="bower_components/jBox/Skins/Red/jbox.css"/>
    <script type="text/javascript" src="bower_components/jBox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="bower_components/jBox/i18n/jquery.jBox-zh-CN.js"></script>
    <!--vue-->
    <script src="js/vue.3.5.13.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="config.js"></script>
    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <script type="text/javascript">
        async function loadMenu() {
            const response = await fetch('menu.html', {cache: 'force-cache'});
            const menuHtml = await response.text();
            document.getElementById('menu').innerHTML = menuHtml;
        }

        async function loadFooter() {
            const response = await fetch('footer.html', {cache: 'force-cache'});
            const footerHtml = await response.text();
            document.getElementById('footer').innerHTML = footerHtml;
        }

        async function loadTopbar() {
            const response = await fetch('topbar.html', {cache: 'force-cache'});
            const topbarHtml = await response.text();
            document.getElementById('topbar').innerHTML = topbarHtml;

            // 菜单加载完成后，加载其他JavaScript文件
            const script = document.createElement('script');
            script.src = 'js/charisma.js';
            document.head.appendChild(script);
        }

        // DOMContentLoaded 事件确保 DOM 已经加载完成
        document.addEventListener('DOMContentLoaded', () => {
            loadMenu();
            loadTopbar();
            loadFooter();
        });
    </script>
</head>

<body>
<!-- topbar starts -->
<div id="topbar"></div>
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <div id="menu"></div>
        <!-- left menu ends -->

        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="userlist.html">用户列表</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> 用户列表</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div style="height: 20px"></div>
                        <div style="height: 20px; padding-left: 10px;">
                            <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                <label>用户名: <input id="username" type="text" aria-controls="DataTables_Table_0" v-model="pg.username"></label>
                                &nbsp;
                                <button id="search" type="button" class="btn btn-default" @click="searchPg">搜索</button>
                            </div>
                        </div>
                        <div style="height: 20px"></div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>用户id</th>
                                    <th>用户名</th>
                                    <th>头像</th>
                                    <th>分数</th>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in datalist">
                                    <td class="center" style="width: 300px">{{ item.openId }}</td>
                                    <td class="center">{{ item.username }}</td>
                                    <td class="center"><a v-bind:href="item.userface" target="_blank"><img src="img/userimg.png" width="20" height="20"/></a></td>
                                    <td class="center">{{ item.score }}</td>
                                    <td class="center">{{ item.submitTime }}</td>
                                    <td class="center">{{ item.updateTime }}</td>
                                </tr>

                                </tbody>
                            </table>

                            <!-- 翻页 -->
                            <div class="row">
                                <div style="padding-left: 20px">
                                    <div class="" id="">
                                        当前{{pg.current_page}}/{{pg.total_pages}}页，总数：{{pg.total_documents}}
                                        <input id="pgnum" type="text" v-model="pg.current_page" style="width: 50px" />
                                        &nbsp;
                                        <button id="go" type="button" class="btn btn-default" @click="go">跳转</button>
                                    </div>
                                </div>
                                <div class="col-md-12 center-block">
                                    <div class="dataTables_paginate paging_bootstrap pagination">
                                        <ul class="pagination">
                                            <li class="prev"><a @click="prevPage" :disabled="pg.current_page === 1" style="cursor: pointer">← 上一页</a></li>
                                            <!-- <li class="active"><a href="#">1</a></li>-->
                                            <li class="next"><a @click="nextPage" :disabled="pg.current_page >= pg.total_pages-1" style="cursor: pointer">下一页 → </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/span-->

            </div><!--/row-->

        </div>
    </div><!--/fluid-row-->


    <div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>提示</h3>
                </div>
                <div class="modal-body">
                    Here settings can be configured...
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- 底部 -->
    <div id="footer"></div>
    <!-- end -->

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<!--<script src="js/charisma.js"></script>-->

<script>
    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
    }
    const { createApp, reactive, onMounted } = Vue;

    const app = createApp({
        methods: {
            refreshPage() {
                location.reload();
            },
            async restart() {
                axios.post(window.AppConfig.apiUrl+'/restart', {timeout: 500});
            },
            tipClick(event){
                //console.log('Event Object:', event);
                console.log('Event Target:', event.currentTarget);
                const buttonId = event.currentTarget.getAttribute('id');
                console.log(buttonId);
                const buttonAlt = event.currentTarget.getAttribute('alt');
                console.log(buttonAlt);
                $('.modal-body').text(buttonAlt)
                $('#tipModal').modal('show');
            }
        },
        setup() {
            const datalist = reactive([]);
            const pg = reactive({
                username:"",
                current_page: 1,
                total_pages: 0,
                total_documents: 0,
            });

            const fetchUserInfo = async () => {
                try {
                    //一页多少条
                    pg.pgsize = 10;
                    where = "pgsize="+pg.pgsize;
                    //用户名
                    if(pg.username!=""){
                        where = where + "&username="+pg.username;
                    }
                    //当前页数
                    if(pg.current_page>0){
                        where = where + "&pgnum="+pg.current_page;
                    }
                    console.log(where);
                    // 发送 POST 请求到后端 API
                    const response = await axios.get(window.AppConfig.apiUrl+'/userlist?'+where, headers={'Content-Type': 'application/json'});
                    // jstr = JSON.parse(response.data["data"]);
                    datalist.splice(0, datalist.length, ...response.data["data"]);
                    //Object.assign(datalist,jstr);
                    console.log(datalist);
                    pg.total_pages = Number(response.data["total_pages"]);
                    pg.total_documents = Number(response.data["total_documents"]);
                } catch (error) {
                    console.error('Failed to fetch user info:', error);
                }
            };

            onMounted(() => {
                fetchUserInfo();
            });

            const prevPage = () => {
                if (pg.current_page > 1) {
                    pg.current_page--;
                    fetchUserInfo();
                }
            };

            const nextPage = () => {
                if (pg.current_page < pg.total_pages) {
                    pg.current_page++;

                    fetchUserInfo();
                }
            };

            const searchPg = () => {
                pg.current_page=1;
                fetchUserInfo();
            };
            const go = () => {
                fetchUserInfo();
            };

            return {
                datalist,
                pg,
                prevPage,
                nextPage,
                searchPg,
                go
            };
        }
    }).mount('#content');
</script>


</body>
</html>
